@import "variables.scss";

body {
  font-size: 12px;

  background-color: $background !important;

.wrapme{
  display: flex;
  flex-wrap: wrap;
}

}
a:hover{
  text-decoration: none;
}
a.section{
  font-size: 12px;
}

.whiteMe{
  background-color: white;
}
.beforeWhite{
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    right: -30%;
    z-index: -1;
}
}
.breadcrumb .section{
  padding: 2em 0 1em !important
}
.padding5em{
  padding: 6em 0;
}
.paddingtop3em{
  padding-top: 3em;
}
.paddingbot5em{
  padding-bottom: 5em !important;
}
.paddingtop-left2em{
  padding-top: 2em;
  padding-left: 2em;
}
.header1{
  font-size: 2.5em;
  padding-top: 1.5em;
  background-color: white;
  p {
    margin-left:1em;
  }
  span{
    font-weight: bold;
  }
}
.border-bottom-grey{
  border-bottom: 1px solid $grey
}
#top {
  .grad1{
    background-image: linear-gradient(#ffffff9c, #e1e1e196);

  }
  .prompt{
  border-radius: 30px;
  }
  .ui.icon.input>input{
    padding-right: 7em !important;
  }
  .ui.small.input{
    margin-right: 6em;
  }
  .justifyitems{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-right: 1px solid $grey;

    i {
      margin: 0 15px;
    }
    p{
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .ui.menu .item:before {
    width: 0;
  }
  .ui.menu{
    border: none;
    border-radius: 0;
    margin:0;
    -webkit-box-shadow:none;
    h1{
      font-size: 1.3em;
    }
  }
  .ui.secondary.menu{
    background-color: white;
    i {
      margin-right: 2em;
    }
    a {
      padding: 17px 10px;
      font-size: 12px;
    }
  }
  .fontSize{
    font-size: 12px;
  }
  .ui.secondary.menu .active.item{
    background-color: white;
    color: $violet;
    border-right: 1px solid $grey;
    border-radius: 0;
    padding-right: 2em;
  }
  .contact {
    .test {
      font-size: 20px;
      background-color: red;
    }
  }
  .iconCustom{
    font-size: 1em;

  }
}

.product {
  .margintop{
    padding-top: 2rem
  }
  .centerIMG{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .right-column {
    .product-name {
      font-size: 2em;
    }

    .product-id{
      font-size: 0.9rem;
      padding-top: 0.7rem;
      font-weight: lighter;
      padding-bottom: 1rem;
    }
    .flex_justify{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .flex_justify-button{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .flex_justify-button > div{
      padding-top: 1em !important;
    }
    .alignitems{
      @extend .flex_justify;
      align-items: center;
    }
    .product-descriptions{
      padding-bottom: 1rem;
    }
    .price{
      background-color: transparent;
      font-size: 1.3em;
      border-radius: 30px;
      box-shadow: 0 5px 7px 1px $grey;
      border: none;
      width: 150px;
      padding: .78571429em 1.5em .78571429em;
    }
    .Availabe{
      border-radius: 30px;
      border: 2px solid;
      padding: 10px 30px;
      font-size:12px;
    }
    .buttons{
      display: inline-flex;
    }
    .buy-now{
      font-weight: 200;
      color: black;
      background-color: transparent;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-right: 0;
      border: 1px solid;
      font-size: 1.3em;



    }
    .buy-now1{
      font-size: 1.3em;
      font-weight: 200;

      color: black;
      background-color: transparent;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 0.5px solid;
      margin-left: 0;
    }

    .yellowcircle {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: $yellow;
      border: 1px solid $yellow;
      border-radius: 30px;
    }
  }
}
.product-details {
  a.item{
    font-size: 14px;
  }
  .header{
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 3.5em;
    }
  p:nth-child(2) {
    padding-bottom: 14px;
  }
  p{
    font-size: 14px;

  }
  .ui.segment {
    border: none;
  }
  .ui.tabular.menu {
    border-bottom: none;
    background-color: $background;
  }
  .ui.tabular.menu .item{
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    border-top: 2px solid $grey;
    margin-right: 10px;

  }
  .ui.tabular.menu .active.item{
    border: none;
  }
  .ui.celled.table tr td, .ui.celled.table tr th {
    border-left: none;
  }
  .tablecustom{
    border-collapse: collapse;

    thead {
      padding-bottom: 2em;

    }
    .upMe{
      font-size: 1em;
      padding-bottom: 2em;
      text-transform: uppercase;

    }
    td, th{
    border: 0;
    line-height: 1.5em;
      font-size: 12px;
    }
    th {
      color: $grey;
      padding-right: 3em;
    }
    td{
      width: 60%;
    }
  }

}
.bestdeals{
  .header{
    position: relative;
    top: -13%;
    font-size: 2.5em;
    span{
      font-weight:bold;
    }
  }
  .blackIt{
    background-color: $black;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -30.55%;
      top: 0;
      background-color: $black;
      z-index: -1;
    }
  }
  .btn-seeMore-custom{
    color: white;
    background-color: transparent;
    border: 3px solid #753280;
    border-radius: 30px;
    padding:10px 40px;
      &:hover {
        color: #753280;
        background-color: white;
        font-weight: 900;
        border-color: white;
      }
  }
  h2 {
    font-size: 2em;
    color: white;
      &:before {
        content: "";
        color: black;
        position: absolute;
        width: 233%;
        height: 100%;
        left: 0;
        top: -68px;
        background-color: white;
        z-index: -1;
      }
  }
  h3{
    font-size: 2em;
    color: white;
  }
  tr{
    color: white;

  }


  .upMe{
    color: $grey !important;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}
  .contact{
    h2{
      font-size:1.5em;
      padding: 1em;
      font-weight: bold;
    }
    p{
      font-size: 1.2em;
      padding: 2em 0;
    }
    .btn-faq-custom{
      color: black;
      background-color: transparent;
      border: 3px solid $violet;
      border-radius: 30px;
      padding:10px 40px;
        &:hover {
        color: white;
        background-color: $violet;
        border-color: white;
      }
    }
    .phone{
      position: relative;
      z-index: 2;
      &:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        left:-50%;
        top:0;
        background-color: $black;
        z-index: -1;
      }
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1%;
        left: 0;
        top: 0;
        background-color: $grey;
        z-index: 2;
      }
     a {
       color: white;
       padding-left: 1.5em;

       span {
         color: $grey;
       }
     }
    }
    .whiteDiv{
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 135%;
        right: -32%;
        top: -35%;
        background-color: white;
        z-index: -2;
      }
    }
    .email{
      @extend .phone;
    }
    .centerme{
      text-align: center !important;
    }
    .blackIt{
      background-color: $black;
    }
  }

  .brands{
    .watchbrand{
      > div {
        padding: 12px;
      }
    }
    .violetBorder{
      border-bottom: 3px solid $violet;
    }
    .three.wide.column{
      padding-left: 0;
      padding-right: 1em;
      p:nth-child(n+ 2){
        padding-left: 2em;
      }
    }
  }

  .info{
    .three.wide.column{
      padding: 4em 0;
    }
    background-color: white;
    h3 {
      font-size: 1.2em;
      padding-bottom: 1em;
      font-weight: bold;
    }
    ul{
      > li {
        margin-bottom: 10px;
        font-weight: lighter;
      }
    }

    .listStyle{
      list-style-type: disc;
    }
    .violetBorderTop{
     border-top: 3px solid $violet

    }

  }
  .stopka{
    p{
      line-height: 1.5em;
    }
  }
.mobileSlider{
  .texts {
    padding-left: 2em;
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.5em;
      padding: 1.5em 0;
    }
    p{
      font-size: 1.2em;
    }
  }
  .btn-seeMore-custom{
    color: black;
    background-color: transparent;
    border: 3px solid #753280;
    border-radius: 30px;
    padding:10px 40px;
    position: absolute;
    bottom: 10%;
    &:hover {
      color: #753280;
      background-color: white;
      font-weight: 900;
      border-color: white;
    }
  }
}
  @media screen and (max-width: 768px){
  .wrapme{
    flex-direction: column;
  }

    .godPlease{
      margin-top: 2em !important;
    }
    .contact {
      .whiteDiv{
        &:after{
      display: none;        }

      }
    }
    .bestdeals{
        h2 {
        &:before {
        display: none;
          }

      }
    }
  }
@media screen and (max-width: 767px){
  .info{
    .violetBorderTop {
      border-top: 3px solid white;
    }

    .border-bottom-greyMobile{
      border-bottom: 1px solid $grey;
    }
  }

}

.smallScreenOnly{
  display: none;
}

@media screen and (max-width: 1200px){
  #top {
    .ui.small.input {
    margin-right: 0 ;
    }
  }
}
@media  (min-width:769px) and (max-width: 1050px){
  .product{
    .flex_justify-button{
    justify-content: center !important;
    }
    .price{
      width: 200px !important;
    }
  }

}
@media (min-width:768px) {
  .texts{
    padding-left: 9em !important;
  }
}

@media  (min-width:600px) and (max-width: 991px) {
.mobileSlider{

    .btn-seeMore-custom{
      padding: 10px 40px !important;
    }
  }
}


@media only screen and (max-width: 991px){
  .ui[class*="tablet stackable"].table tr>td, .ui[class*="tablet stackable"].table tr>th
  {
    width: initial !important ;
    display: table-cell !important;
  }
  .largeScreenOnly{
    display: none !important;
  }
  .smallScreenOnly{
    display: block;
  }
  .info{
    .centerMeTablet{
      text-align: center !important;
    }
    .listStyle{
      list-style-type: none !important;
    }
    .noBorderMobile{
      border-top: none !important;
    }
    .VioletBorderMobile{
      border-top: 3px solid $violet
    }
  }
}

