@import "variables.scss";

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .item1 {
    background: url(../img/test1.jpg) no-repeat center;
  }

  .item2 {
    background: url(../img/test2.jpg) no-repeat center;
  }

  .item3 {
    background: url(../img/watch.png) no-repeat center;
  }

  .slide-item {
    height: 500px;
    float: left;
    clear: none;
  }
  .slider-arrow--left {
    background: url("../img/angle-left-solid.svg") no-repeat;
    width: 17px;
    height: 28px;
    display: block;
    padding: 0;
    opacity: 0.6;
  }
  .slider-arrow--right {
    background: url("../img/angle-right-solid.svg") no-repeat;
    width: 17px;
    height: 28px;
    display: block;
    padding: 0;
    opacity: 0.6;

  }
  .slider-arrow--right {
    bottom: 50%;
    right: 30px;
  }
  .slider-arrow--left {
    bottom: 50%;
    left: 30px;
  }

  .slider-arrow {
    position: absolute;
    display: block;
    margin-bottom: -20px;
    padding: 20px;
  }
  .slider-nav__item {
    border-radius: 50%;
  }
  .slider-nav {
    position: absolute;
    bottom: 60px;
  }
  .slider-nav__item--current {
    background: $violet !important;
  }
  .slider-nav__item {
    width: 12px;
    height: 12px;
    float: left;
    clear: none;
    display: block;
    margin: 0 5px;
    background: #fff;
  }
  a, a:hover, a:active {
    color: #555;
  }
}